/* terminal font */
@import url("https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&display=swap");

* {
  font-family: "Fira Mono", monospace;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* terminal colors so far */
:root {
  --backgroundgray: #333333;
  --textgreen: #4e9a06;
  --hintblue: #3465a4;
}

/* all divs just have these basic components */
div {
  color: white;
  font-size: 20px;
}

/* entire page is the dark gray color */
body {
  background-color: var(--backgroundgray);
}

/* class prompt text color with margin of 8 px, since everything is currently 0 */
.prompt {
  color: var(--textgreen);
  margin: 8px;
}

/* current directory color (dont really use current directory yet) */
.prompt .currdir {
  color: var(--hintblue);
  margin: 0;
}

/* terminal command, this is the input text 
  outline is critical to making it look fluid*/
#terminal .command {
  background-color: #333333;
  color: #fff;
  border: none;
  outline: none;
  font-size: 20px;
}

/* just basically everything that is added after each command enter */
p {
  width: 50%;
  margin-left: 8px;
}

/* just gotta set margin again */
#intro_prompt {
  margin-top: 8px;
}

#folder {
  color: var(--hintblue);
}

#history,
#help {
  display: none;
}